.description {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 40px;
  margin: 0 auto;
  width: calc(100vw / 2);
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
}

.descriptionTitle {
  min-width: 300px;
  font-weight: bold;
  font-style: normal;
  text-shadow:
    2px 2px 3px #000000,
    2px 2px 30px #ff9a27,
    2px 2px 15px #f51717;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 8px;
}

.descriptionText {
  width: 100%;
  color: #ffffff;
  text-shadow:
    2px 2px 2px #000000,
    0 0 25px #ff9a27,
    0 0 10px #f51717;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
